html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.main-section {
  background: #ffe6e6;
  padding: 2em;
  box-shadow: 0.5rem 0.5rem black;
}

.main-instructions {
  background: #b6f2bc;
  padding: 1em 3em;
  margin-bottom: 1em;
  font-family: "Courier New", Courier, monospace;
}

.app-title {
  font-weight: bolder;
  font-size: 3em;
}
